<% @task_list.each do |t|%>
    <td><input type="checkbox" id="right-checkbox"/> </td>
    <td><%= t.account_id%></td>
    <td><%= t.get_owner_name%></td>
    <td><%= t.ot%></td>
<%end%>
<div><%= data[0].innerHTML%></div>
<h1>hello</h1>