<%if task%>
    <% task.each do |t|%>
        <tr class="data">
            <td><%= check_box_tag 'fworkers[]', t.id, false, :id=>"left-checkbox"%></td>
            <td><%= t.id%></td>
            <td><%= t.name%></td>
        </tr>
    <%end%>
<%end%>
<%if task && task.length <= 16%>
    <%i = 16 - task.length%>
    <% while i > 0 do%>
        <tr class="data">
                <td></td>
                <td></td>
                <td></td>
         </tr>
         <%i -= 1%>
    <% end %>
  <%end%>
