<h1>Manage</h1>
<div>
    <input type="text" placeholder="Enter worker's name"/>
    <button>Search</button>
    <h3 class="detail">แผนก.. กะ..<h3>
    <button>Save</button>
    <button>Delete</button>
</div>
<div id="dashboard-body">
    <div id="body-right">
        <h2>All Worker</h2>
        <table id="data-table">
            <tr>
                <th><input type="checkbox"/></th>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr class="data">
                <td><input type="checkbox"/></td>
                <td>test</td>
                <td>Test test</td>
            </tr>
        </table>
    </div>
    <div id="body-right">
        <h2>Worker in shift</h2>
        <table id="data-table">
            <tr>
                <th><input type="checkbox"/></th>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr class="data">
                <td><input type="checkbox"/></td>
                <td>test</td>
                <td>Test test</td>
            </tr>
        </table>
    </div>
</div>