/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root{
    padding: 0;
    margin: 0;
}
 #login-text{
     text-align: center;
 }
#login-parent form{
    display:  flex;
    flex-direction: column;
    align-items: center;
}
#login-input {
    margin: .2rem;
}
#login-btn, #sign-up{
    margin: 1rem;
}
#sign-up{
    color: #FF567A;
    text-decoration: none;
}
#username, #password{
    display: block;
    border-radius: 12px;
}
 ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }