/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    --black-color: #333;
    --primary-color:  rgb(46, 255, 168);
    --secondary-color:  rgb(41, 226, 149);
    --accent-color: #FF567A;
}
 #login-text{
     text-align: center;
 }
#login-parent form{
    display:  flex;
    flex-direction: column;
    align-items: center;
}
#login-input {
    margin: .2rem;
}
#login-btn, #sign-up{
    margin: 1rem;
}
#login-btn input{
  border-radius: 15px;
  border-color: #333;
  background-color: var(--primary-color);
  max-height: 2.5em;
  padding:.4em .5em;
}
#login-btn input:hover{
  border-color: var(--accent-color);
  cursor: pointer;
}
#login-btn input[type="submit"]{
  font-size: 1rem;
  letter-spacing: .3ch;
}
#sign-up{
    color: var(--accent-color);
    text-decoration: none;
}
#username, #password{
    display: block;
    height: 1.5rem;
    max-width: 100%;
    border-radius: 12px;
}
 ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--black-color);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }