/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*================ROOT SECTION================*/
:root{
    --dark-color: #333;
    --bright-color: rgb(250, 250, 250);
    --bg-color: #54436B;
    --primary-color:  #50CB93;
    --secondary-color:  #71EFA3;
    --light-color: #ACFFAD;
    --accent-color: #FF567A;
    --accenter-color: #f0385f;
    --default-radius: 8px;
    --medium-radius: 15px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/*================NAV================*/
#nav-responsive .responsive,  /* HIDE RESPONESIVE ELEMENTS*/
#already-in .responsive,
#department-list-responsive,
#mobile-indicator,
.d-s-short{
  display: none;
}


.nav-icon {
  display: none;
  cursor: pointer;
  
}

.bar1, .bar2, .bar3 {
  width: 1.5rem;
  height: .25rem;
  background-color: var(--bright-color);
  margin: .15rem 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 0px) ;
  transform: rotate(-45deg) translate(-9px, 0px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, 1px) ;
  transform: rotate(45deg) translate(-10px, 1px) ;
}


.nav-bar{
  top: 10vh;
  background-color: var(--dark-color);
}
#name-text{
  display: flex;
  align-items: center;
  color:var(--primary-color);
  font-size: 1.25rem;
}
 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
  }
  
  #nav-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
  }
  #nav-elements li{
    display:flex;
    flex-direction: row;
  }
  
  li a, li h2 {
    color: var(--bright-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  li a:hover {
    color:var(--primary-color);
  }
  #log-out:hover{
    color:var(--accent-color);
  }
  
/*================RESPONESIVE================*/
@media screen and (max-width: 899px){
  .nav-bar #nav-default,
  #body-left{
      display: none;
  }
  #mobile-indicator{
    display: block;
  }
  #hamberg-menu{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items:center;
    background-color: var(--bright-color);
    border-radius: var(--default-radius);
    border: none;
    max-width: 80%;
    height: 2rem;
  }
  
  #hamberg-menu li a{
    padding: 0 .5rem;
  }

  #log-out{
    color: var(--accent-color);
  }
  #log-out:hover{
    color: var(--accent-color);
    opacity: 70%;
  }
  
  .nav-bar{
    padding: 0 .5rem;
  }
  #nav-responsive .responsive{
    display:flex;
    flex-direction: row;
    max-width: 50%;
  }
  .nav-bar #nav-responsive{
    height: 6vh;
  }
  li a, li h2{
    color: var(--dark-color);
  }
  
  .nav-icon{
      display: block;
      float: right;
      padding: .5rem 1rem;
      background-color: var(--dark-color);
  }
  #dashboard-body{
    flex-direction: column;
  }
  #current-time{
    display:none;
  }
  #current-time-details,
  #already-in-responsive{
    height: 2rem;
    font-size: 0;
  }
  /*============ DASHBOARD =====*/
  #left-top{
    display: none;
  }
  #already-in-responsive{
    background-color: var(--bright-color);
    color: var(--primary-color);
    border-radius: var(--default-radius) ;
    border: 1px solid var(--dark-color);
    padding: .3em;
    margin-left: .5rem;
    flex: 50%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
  }
  

  #department-list-responsive{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    padding: .5rem 1rem;
    margin: 0 1rem;
  }
  .d-list{
    width: 90%;
    margin: 0 .5rem;
    padding: 0 2rem 0 2rem;
    text-align: center;
    background-color: var(--bright-color);
  }
  #body-right{
    width:100%;
  }
  #actual,
  #plan,
  #manage-shift-btn{
    font-size: .8rem;
  }
  #d-s-group{
    margin-left:1rem;
  }
  #date-select{
    margin: .1rem;
    width: 20%;
  }
  #shift-select{
    margin: .1rem;
    width: 20%;
  }
  .d-s-short{
    display: inline;
  }
  #manage-shift-btn{
    width: 60%;
    font-size: .8rem;
  }
  
}