// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//================== PROFILE PAGE =================//
//================== PROFILE PAGE =================//

.profile-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-parent h1{
    font-size: 2rem;
    font-weight: bold;
}
.profile-parent h2{
    align-self: left;
    margin-top: 1rem;
    font-size: 1.5rem;
}
#profile-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
    border: 1px solid var(--primary-color);
    border-radius: var(--default-radius);
    padding: 1rem 5rem;
  }
.image{
    margin-right: 3rem;
}
.profile-body{
    display: flex;
    flex-direction: column;
}
.topic{
    display: inline;
    flex-direction: row;
    font-weight: bold;
}

#task-view{
    border-collapse: collapse;
}
#task-view tr:first-child{
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    border: 1px solid var(--primary-color);
}
#task-view th,
#task-view td,
#task-view td a{
    text-align: center;
    white-space: pre;
    padding: 0 1rem;
    font-size: 1.25rem;
    text-decoration: none;
}
/*================LOG-IN PAGE================*/
  
#login-text{
    text-align: center;
    margin-top: 5em;
}
#login-parent form{
   display:  flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#login-input {
   margin: .2rem;
}
#login-btn, #sign-up{
   margin: 1rem;
}
#login-btn input{
 border-radius: 15px;
 border-color: #333;
 background-color: var(--secondary-color);
 max-height: 2.5em;
 width: 10em;
 padding:.4em .5em;
}
#login-btn input:hover{
 border-color: var(--accent-color);
 cursor: pointer;
}
#login-btn input[type="submit"]{
 font-size: 1rem;
 letter-spacing: .3ch;
}
#sign-up{
   color: var(--accent-color);
   text-decoration: none;
}
#username, #password{
   display: block;
   height: 1.5rem;
   max-width: 100%;
   border-radius: 12px;
}
