<% if worker %>
    <div class="content">
        <div class="image" style="width: 4rem;height: 5rem;margin: auto;"></div>
        <h1><%= "Name: #{worker.name}"%></h1>
        <h1><%= "Role: #{worker.role}"%></h1>
        <h1><%= "Telephone: #{worker.get_tel}"%></h1>
    </div>
<% end %>