<% @tasks.each do |t|%>
    <tr class="data">
        <td><%= t.account_id%></td>
        <td><%=t.get_owner_name%></td>
        <td><%--%></td>
        <td><%= t.get_time(t.startTime)%></td>
        <td><%--%></td>
        <td><%= t.get_time(t.endTime)%></td>
    </tr>
<%end%>