<div>
<select>
    <option>Day 1</option>
    <option>Day 2</option>
    <option>Day 3</option>
</select>

<select>
    <option>Shift 1</option>
    <option>Shift 2</option>
    <option>Shift 3</option>
    <option>Shift 4</option>
</select>
</div>
<div>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Time</th>
        <th>Ot</th>
    </tr>
    
</table>
</div>