<%= stylesheet_link_tag 'admin'%>
<div id="fac-manage-body">
  <h2>All Factory</h2>
  <table id="factory-manage-table">
    <thead>
      <tr>
        <th style="border-radius: var(--default-radius) 0 0 0">Factory Name</th>
        <th style="border-left:none; border-radius: 0 var(--default-radius) 0 0">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @factories.each do |fac| %>
          <tr>
              <td><%= fac.name %></td>
              <td><%= link_to "Edit", "/manage_factories/edit/#{fac.id}" %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>