
<h1>Profile</h1>
<h2>Name: <%=@current_user.name%></h2>
<h2>Role: <%=@current_user.role%></h2>
<h2>Department: <%=@current_user.department.name%></h2>
<h2>Factory: <%=@current_user.factory.name%></h2>